body{
    background-image: url("images/SHIMMERPURPLE.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin: 3%;

}

.topnavigation{
    display: flex;
    gap: 70px;
    background-color: rgba(28, 7, 49, 0.56);
    border-radius: 30px;
    width: 50vw;
    margin-left: 160px;
    
}

.topnavigation img{
    width: 3vw;
    
}

.navigationcontents{
    color: white;
    padding: 6px;
    
}

.navigationcontents a{
    font-weight: 600;
    padding: 4px;
}

.navigationcontents a:hover{
    background-color: rgba(240, 248, 255, 0.472);
    border-radius: 15px;
    color: rgba(112, 56, 164, 0.56);
}

.the-introduction{
    background-color: color-mix(in oklab, #3c184088 80%, rgb(7, 7, 7));
    justify-content: center;
    font-size: 11px;

}

.personal-intro{
    display: flex;
    gap: 40px;
    margin-top: 20px;
    justify-content: center;

    
}

.personal-intro img{
    width: 30vw;
}

.intro{
    color: rgba(255, 255, 255, 0.819);
    margin-top: 50px;
    

}
.buttons{
    margin-left: 3.2cm;
    margin-top: -30px;

}

button:hover{
    background-color:  rgba(190, 138, 232, 0.64);
    color: rgba(53, 30, 73, 0.64);
    border: none;

}

#b-one{
    border-radius: 15px;
    padding: 5px;
    width: 10vw;
    border: none;
    color: rgba(51, 9, 90, 0.698);
    font-weight: 800;
    font-size: 10px;
    
}

#b-two{
    background-color: inherit;
    border-radius: 15px;
    padding: 5px;
    width: 10vw;
    color: rgba(211, 205, 216, 0.911);
    font-weight: 800;
    border-radius: solid 1px;
    border-color: rgba(211, 205, 216, 0.911);
    font-size: 9px;
}

.socials{
    display: flex;
    gap: 19px;
    padding-top: 15px;
    margin-left: 3.2cm;
}

.socials img{
    background-color: aliceblue;
    width: 3vw;
}

.socials img:hover{
    transform: scale(1.2);
}

#downward-icon{
    margin-left: 9cm;
    padding-top: 10px;
    border-radius: 10px;
    width: 5vw;
}

#downward-icon:hover{
    transform: scale(1.2);
}

.about-me{
    background-color: color-mix(in oklab, #3c184088 40%, rgb(7, 7, 7));
    justify-content: center; 
    display: flex;
    padding: 50px;
    gap: 50px;
}

.about-me img{
     width:30vw;
}

.describe-me{
    color: aliceblue;
    font-size: 12px;
}

.skills-icons{
    display: flex;
    gap: 5px;
}

.skills-icons img{
    width: 3vw;
    background-color: white;
    height: 6vh;
    
    
}

.about-me h2{
    color:white;
    position: absolute;
    margin-top: -33px;
    margin-left: 4.3cm;
    font-weight: 700;
    font-size: 24px;
}

.my-experiences{
    background-color: color-mix(in oklab, #3c184088 70%, rgb(7, 7, 7));
    color: aliceblue;
    justify-items: center;
    padding: 20px;
    font-size: 13px;

}

.experience-list{
    display: flex;
    gap: 15px;
    justify-content: center;
    padding: 20px;
    
}

.experience1{
    background-color: color-mix(in oklab, #3c184088 40%, rgb(7, 7, 7));
    justify-content: center;
    font-size: 7px;
    padding: 7px;
    border-radius: 10px;
    
}

.experience1 img{
    width: 15vw;
    padding: 5px;
    justify-items: center;
}

#threedots{
    display: flex;
}

#threedots img{
    width: 1vw;
    height: 2vh;
    border-radius: 6px;
    margin-top: 1cm;
}

#threedots img:hover{
    color: darkorchid;
    background-color: rgb(140, 216, 8);
}

.experience1:hover{
    background-color: rgba(181, 124, 228, 0.357);
}

.all-projects{
    justify-items: center;
    background-color: rgba(34, 4, 63, 0.56);
    color: aliceblue;
    padding: 20px;


}

.all-projects h2{
    font-size: 25px;
}

.my-projects{
    display: flex;
    justify-content: center;
    
}

.project-one{
    background-color:rgba(180, 109, 237, 0.64) ;
    padding: 20px;
    margin-top: 10px;
    border-radius: 10px;
    margin-bottom: 20px;
    color: rgba(240, 248, 255, 0.733);
    
}

.project-one img{
    width: 10vw;
    background-color: blueviolet;
    
}

.project-one a{
    text-decoration: none;
    padding: 6px;
    border-radius: 15px;
    color: antiquewhite;
    background-color: rgb(153, 107, 195);
}

.project-one a:hover{
    background-color:  rgba(119, 92, 142, 0.64);
    color: rgba(100, 14, 175, 0.64);
}

.contact-me{
    background-color: rgba(2, 0, 4, 0.756);
    color: antiquewhite;
    justify-items: center;
    margin-top: 0px;
    padding: 20px;
    
}

.contact-me h2{
    font-size: 19px;
}

.contact-details{
    color: azure;
    display: flex;
    gap: 60px;
}

.contact-form{
    padding: 30px;
}

.contact-form input{
    background-color: rgba(192, 137, 236, 0.298);
    border: none;
    padding: 6px;
    width: 23vw;
}

#message{
    height: 10vh;
}

#last-button{
    background-color: rgba(146, 19, 251, 0.298);
    border: none;
    padding: 6px;
    width: 24.5vw;
    color: beige;
    font-size: 10px;
    font-weight: 600;
    border-radius: 20px;
}

#last-button:hover{
    background-color:  rgba(190, 138, 232, 0.64);
    color: rgba(53, 30, 73, 0.64);
    
}

.caption h4{
    font-size: 20px;
}


.socials2{
    background-color: color-mix(in oklab, #3c184088 70%, rgb(7, 7, 7));
    display: flex;
    gap: 19px;
    justify-content: center;
    padding: 6px;
    

}

.socials2 img{
    background-color: aliceblue;
    width: 3vw;
   
}

.socials2 img:hover{
    transform: scale(1.2);
}
