body{
    background-color: rgb(245, 202, 208);
    
}

.fruitsbody{
    margin: 3%;
    background-color: azure;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    padding: 25px;
    border-radius: 5px;
}

.topnav{
    display: flex;
    gap: 130px;
}

.threelines{
    display: flex;
    gap: 3px;
    color: rgb(172, 112, 120);
}

.tittle h1{
    color: rgb(139, 53, 139);
    font-size: 24px;
    
}

.contact a{
    text-decoration: none;
    color:rgb(172, 112, 120) ;
    padding: 4px;
    
    
}

.contact a:hover{
    color:rgb(139, 53, 139) ;
    
}

.topnav img{
    width: 2vw;
    height: 3vh;
    
}

.topitems{
    display: flex;
    padding-top: 40px;
    color: rgb(139, 53, 139);
    gap: 100px;
}

.topitems h2{
    border: solid;
    width: 2vw;
    border-radius: 12px;
    margin-left: 105px;
    margin-top: -28px;

}

.topitems img{
    width: 30vw;
    margin-top: -49px;
}

.secondparagraph{
    display: flex;
    color: rgba(139, 53, 139);
    gap: 130px;
    padding-top: 70px;
}


.thirdparagraph{
    display: flex;
    color: rgba(139, 53, 139);
    padding-top: 70px;
    gap: 80px;
}

.partone{
    background-color: white;
    border-radius: 12px;
    height: 80vh;


}

.partone img{
    width: 5vw;
    border-radius: 40px;
    padding: 10px;
}

.parttwo img{
    width: 20vw;
}

.organic{
    color:  rgb(245, 202, 208);
    background-color: purple;
    border-radius: 12px;
    height: 50vh;
    position: absolute;
    margin-top: -2cm;
}

.organic img{
    width: 5vw;
    border-radius: 40px;
    padding: 10px;
}

.partthree{
    background-color: white;
    border-radius: 12px;
    height: 80vh;
}

.partthree img{
    width: 5vw;
    border-radius: 40px;
    padding: 10px;
    
}

.partone button{
    text-decoration: none;
    background-color: rgb(245, 202, 208);
    border: none;
    padding: 6px;
    border-radius: 9px;
}

.partone button:hover{
    background-color:rgba(139, 53, 139) ;
    color: white;

}

.parttwo button{
    text-decoration: none;
    background-color: rgb(245, 202, 208);
    border: none;
    padding: 6px;
    border-radius: 9px;
}

.parttwo button:hover{
    background-color:rgba(139, 53, 139) ;
    color: white;
    
}

.partthree button{
    text-decoration: none;
    background-color: rgb(245, 202, 208);
    border: none;
    padding: 6px;
    border-radius: 9px;
}

.partthree button:hover{
    background-color:rgba(139, 53, 139) ;
    color: white;
    
}

.h1{
    color: rgba(139, 53, 139);
    margin-left: 290px;
    display: flex;
    gap: 210px;
}

.h1 a{
    text-decoration: none;

}

.h1 a:hover{
    color: rgb(245, 202, 208);
    
}

.fruitone{
    display: flex;
    gap: 190px;
    color: rgb(139, 53, 139);
    padding-top: 90px;
}

.fruitone img{
    border-radius: 10px;
    margin-top: 2px;
}

.fruittwo{
    display: flex;
    padding-top: 90px;
    gap: 90px;
    color: rgb(139, 53, 139);
}

.fruittwo img{
    width: 40vw;
    padding-top: 1px;
    
}

.fruitthree{
    display: flex;
    color:rgb(139, 53, 139);
    gap: 90px;
    padding-top: 90px;
}

.fruitthree img{
    width: 40vw;
}


.features{
    color: rgb(139, 53, 139);
    padding-top: 90px;
    margin-left: 7cm;
}

.exampleoffeatures{
    display: flex;
    padding-top: 20px;
    gap: 10px;
    margin-left: 4cm;

}
.exampleoffeatures img{
    width: 20vw;
    height: 80vh;

}

.featurelists{
    color: rgb(139, 53, 139);
}

.bottoms{
    display: flex;
    padding-top: 90px;
    gap: 210px;
    color: rgb(139, 53, 139);
}